node_modules

# Outputs
/dist
/coverage
/libs/**/dist
/libs/**/dist.browser
/libs/**/dist.browser-s3
/libs/**/coverage
/apps/**/dist

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# NX
.nx
